In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('metrics.txt',sep = '\s+')
df

,Class,Images,Instances,P,R,mAP50,mAP50-95
0,all,4116,4116,0.367,0.465,0.396,0.339
1,Affenpinscher,4116,20,0.311,0.450,0.358,0.300
2,Afghan_hound,4116,56,0.605,0.679,0.680,0.595
3,African_hunting_dog,4116,31,0.382,0.452,0.399,0.322
4,Airedale,4116,45,0.306,0.422,0.363,0.315
...,...,...,...,...,...,...,...
116,Welsh_springer_spaniel,4116,33,0.346,0.455,0.372,0.322
117,West_Highland_white_terrier,4116,24,0.377,0.833,0.652,0.546
118,Whippet,4116,45,0.212,0.178,0.223,0.163
119,Wire-haired_fox_terrier,4116,22,0.284,0.364,0.375,0.337
120,Yorkshire_terrier,4116,35,0.142,0.236,0.132,0.111

In [10]:
df.to_csv('metrics.csv')

In [16]:
df2 = pd.read_csv('metrics.csv',index_col=0)
df2.sort_values(by=['mAP50'],inplace=True,ascending=False)
df2.reset_index(drop=True,inplace=True)
df2

,Class,Images,Instances,P,R,mAP50,mAP50-95
0,Groenendael,4116,29,0.556,0.655,0.717,0.609
1,Sussex_spaniel,4116,35,0.446,0.686,0.694,0.642
2,Scotch_terrier,4116,33,0.540,0.667,0.688,0.576
3,Afghan_hound,4116,56,0.605,0.679,0.680,0.595
4,Mexican_hairless,4116,35,0.581,0.657,0.679,0.591
...,...,...,...,...,...,...,...
116,Beagle,4116,41,0.183,0.235,0.143,0.107
117,Miniature_poodle,4116,25,0.162,0.320,0.136,0.129
118,American_Staffordshire_terrier,4116,34,0.210,0.164,0.134,0.114
119,Yorkshire_terrier,4116,35,0.142,0.236,0.132,0.111
120,Cocker_spaniel,4116,28,0.153,0.179,0.113,0.101

In [40]:
35*3

105

In [44]:
# metrics_txt = ''
with open('metrics.md','r') as m:
    metrics = m.readlines()

print(''.join(metrics[0:35]))
print(''.join(metrics[35:70]))
print(''.join(metrics[70:105]))
print(''.join(metrics[105:]))
# print(metrics_txt[0:3922])

3710
3710
3710
1907

In [ ]:
df3  = pd.read_md

In [2]:
import pandas as pd